<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-10">
      <kendo-grid [data]="view" [height]="533" [pageSize]="gridState.take" [skip]="gridState.skip" [sort]="gridState.sort"
        [pageable]="true" [sortable]="true" (dataStateChange)="onStateChange($event)" (cancel)="cancelHandler($event)"
        (save)="saveHandler($event)" (remove)="removeHandler($event)" (add)="addHandler($event)" [navigable]="true">
        <ng-template kendoGridToolbarTemplate>
          <button kendoGridAddCommand>Add new</button>
        </ng-template>
        <kendo-grid-column field="email" title="User Email"></kendo-grid-column>
        <kendo-grid-column field="password" title="User Password" *ngIf="show"></kendo-grid-column>
        <kendo-grid-column *ngIf="!show" field="isAdmin" title="Admin"></kendo-grid-column>
        <kendo-grid-command-column title="command" width="220">
          <ng-template kendoGridCellTemplate let-isNew="isNew">
            <button kendoGridRemoveCommand>Remove</button>
            <button kendoGridSaveCommand [disabled]="formGroup?.invalid">{{ 'Add' }}</button>
            <button kendoGridCancelCommand>{{ 'Cancel' }}</button>
          </ng-template>
        </kendo-grid-command-column>
      </kendo-grid>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>