html {
    font-size: 1rem;
  }
  
  @include media-breakpoint-up(sm) {
    html {
      font-size: 1.2rem;
    }
  }
  
  @include media-breakpoint-up(md) {
    html {
      font-size: 1.4rem;
    }
  }
  
  @include media-breakpoint-up(lg) {
    html {
      font-size: 1.6rem;
    }
  }
  html {
      background-color: whitesmoke;
  }

  h2 {
      text-align: center;
      margin: 20px;
  }

  .container {
      margin: 50px;
  }

  img {
      margin: 60px;
  }