<!-- <div class="container h-100 text-align:center"> -->
<div class="container">
    <div class="row justify-content-center align-items-center align-items-md-end text-center">
        <div class="col-lg">
            <h2 class="text-muted">Something went wrong.</h2>
            <h2 class="text-muted">The page you were searching for was not found.</h2>
            <img src="../../../assets/images404.png" class="rounded mx-auto d-block" alt="Responsive image">
            <h2 class="text-muted pointable" (click)="homeClicked()">Home</h2>
        </div>
    </div>
</div>