<h2 mat-dialog-title>Create new comparison chart</h2>
<mat-dialog-content class="mat-typography">
  <form [formGroup]="createChartForm">
    <mat-form-field class="name-form-control">
      <input matInput placeholder="Chart Name" formControlName="name" required>
      <mat-error *ngIf="chartName.hasError('required')">
        Chart name is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <h4></h4>
    <mat-form-field class="period-form-control">
      <input matInput type="number" placeholder="Comparisson Period in hours" formControlName="period" min="0" required>
      <mat-error *ngIf="chartPeriod.hasError('required')">
        Period is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <h4></h4>
    <mat-form-field class="example-chip-list">
      <mat-chip-list #chipList formControlName="startDates">
        <mat-chip *ngFor="let datetime of startDateTimes" [selectable]="selectable" [removable]="removable" (removed)="remove(datetime)">
          {{datetime.dateTime}}
          <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
        </mat-chip>
        <input [owlDateTime]="dt1" [owlDateTimeTrigger]="dt1" [max]="todayDate" [owlDateTimeTrigger]="dt1" [owlDateTime]="dt1" placeholder="New Start Date..."
          [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur"
          (matChipInputTokenEnd)="add($event)">
        <owl-date-time #dt1></owl-date-time>
      </mat-chip-list>
    </mat-form-field>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-stroked-button color="warn" [mat-dialog-close]="true">Cancel</button>
  <button mat-stroked-button color="primary" [disabled]="this.createChartForm.invalid || !this.startDateTimes.length" (click)="this.createChart()" [mat-dialog-close]="true">Save</button>
</mat-dialog-actions>
