.confirm-dialog-container {
    border-radius: .25em .25em .4em .4em;
    padding: 0px;
}

.confirm-dialog-container .content-container {
    margin: 5px 5px 15px 15px;
    display: flex;
}

.message {
    text-align: center;
    font-size: 1.1rem;
    margin-bottom: 10px;
}

#yes-button {
    width: 45%;
}

#no-button{
    width: 45%;
}
.divider{
    width:10%;
    height:auto;
    display:inline-block;
}