<div>
  <div  class="content-container">
    <span class="content-span full-width"></span>
  </div>
  <div class="message">{{data.message}}</div>
  <div class="btn-toolbar">
      <button  class="btn btn-space" mat-stroked-button id="yes-button" color="primary" [mat-dialog-close]="true">Yes</button>
      <div class="divider"></div>
      <button  class="btn btn-space" mat-stroked-button id="no-button" color="warn" [mat-dialog-close]="false">No</button>
  </div>
</div>