<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-12">
            <kendo-grid [data]="view" [height]="533" [pageSize]="gridState.take" [skip]="gridState.skip" [sort]="gridState.sort"
                [pageable]="true" [sortable]="true" [navigable]="true" (dataStateChange)="onStateChange($event)">
                <kendo-grid-column field="change" title="Change"></kendo-grid-column>
                <kendo-grid-column field="date" title="Date/Time"></kendo-grid-column>
           </kendo-grid>
        </div>
    </div>
</div>