<nav class="navbar  navbar-light navbar-expand-sm" style="background-color: #f6f6f6f6">
    <a class="navbar-brand intime text-success">In|Time
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav w-100">
            <a class="nav-item nav-link" [routerLink]="['./']" [routerLink]="'active'" appUnderlineMe>Travel Time <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" *ngIf="isAdmin" [routerLink]="['devices']" [routerLink]="'active'" appUnderlineMe>Devices</a>
            <a class="nav-item nav-link" *ngIf="isAdmin" [routerLink]="['users']" [routerLink]="'active'" appUnderlineMe>Users</a>
            <a class="nav-item nav-link" *ngIf="isAdmin" [routerLink]="['audit-log']" [routerLink]="'active'" appUnderlineMe>Audit Log</a>
        </div>
    </div>
    <div class="nav-item dropdown ml-auto fluid">
        <button class="btn dropdown-toggle current-user" type="button" id="dropdownMenuButtonCurrentUser" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false" appUnderlineMe>
            Hello, {{email}}!
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <!-- <a class="dropdown-item pointable" appUnderlineMe>Change Pass</a> -->
            <a class="dropdown-item pointable" (click)="this.logout()" appUnderlineMe>Log out</a>
        </div>
    </div>
</nav>