.intime {
    font-size:  25px;
    font-weight: 900;
}

.dropdown-toggle {
    display: block;
  }
.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
}

button {
    box-sizing:border-box
}

a {
    box-sizing:border-box
}
