body {
    text-align:center;
    /* background: #485563; */
    /* background: #284239; */
    background-size: cover;
}
h1, h4 {
    /* color:rgb(242,145,0); */
    /* color: rgb(106,151,31); */
    color:  rgb(44, 194, 24);
    margin: 5px;
}
