.actions {
  display:flex;
  justify-content:flex-end;
  margin-right: 0px;
  margin-top: 0px;
}

.mat-expansion-panel-header-description {
  display:flex;
  justify-content:flex-end;
}
.mat-expansion-indicator::after {
  visibility: hidden !important;
  display: none !important;
}

.table-hover-cells > tbody > tr > th:hover,
.table-hover-cells > tbody > tr > td:hover {
  background-color: rgba(0, 125, 10, 0.100);
}

.table-hover-cells > tbody > tr > th.active:hover,
.table-hover-cells > tbody > tr > td.active:hover,
.table-hover-cells > tbody > tr.active > th:hover,
.table-hover-cells > tbody > tr.active > td:hover {
  background-color: rgba(0, 125, 10, 0.100);
}

.table-hover.table-hover-cells > tbody > tr:hover > th:hover,
.table-hover.table-hover-cells > tbody > tr:hover > td:hover {
  background-color: rgba(0, 125, 10, 0.100);
}

.table-hover.table-hover-cells > tbody > tr.active:hover > th:hover,
.table-hover.table-hover-cells > tbody > tr.active:hover > td:hover {
  background-color: rgba(0, 125, 10, 0.100);
}

h1 > .divider:before,
h2 > .divider:before,
h3 > .divider:before,
h4 > .divider:before,
h5 > .divider:before,
h6 > .divider:before,
.h1 > .divider:before,
.h2 > .divider:before,
.h3 > .divider:before,
.h4 > .divider:before,
.h5 > .divider:before,
.h6 > .divider:before {
  color: rgb(1, 125, 10);
  content: "\0223E\0020";
}