<p></p>
<mat-expansion-panel #myPanel>
  <mat-expansion-panel-header (click)="sendDataToTableReportList($event)">
    <mat-panel-title>
      <button mat-button disabled style="color: #048300">{{table.name}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{table.endDateInMilliseconds | date:'medium'}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{periodToDisplay}}</button>
    </mat-panel-title>
    <mat-panel-description fxLayout="row" fxFlex fxLayoutAlign="end" fxLayoutGap="10px">

      <div fxFlex="60"></div>

      <div class="actions" fxLayout>
        <button mat-icon-button color="primary" (click)="createChart($event)" [disableRipple]="true">
          <mat-icon svgIcon="chart">Create Chart</mat-icon>
        </button>
        <button mat-icon-button color="primary" (click)="editTableReport($event)" [disableRipple]="true">
          <mat-icon svgIcon="edit">Edit</mat-icon>
        </button>
        <button mat-icon-button color="primary" (click)="deleteTableReport($event)" [disableRipple]="true">
          <mat-icon svgIcon="garbage">Delete</mat-icon>
        </button>
      </div>
    </mat-panel-description>
  </mat-expansion-panel-header>

  <div class="container">
    <table class="table table-bordered table-hover-cells">
      <thead>
        <tr>
          <th scope="col">Origin/Destination</th>
          <th scope="col" *ngFor="let col of report | keyvalue; let i = index">{{col.key}}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let col of report | keyvalue; let i = index">
          <th scope="row">{{col.key}}</th>
          <td *ngFor="let row of col.value | keyvalue; let i = index" (click)="changeChartDevice(col.key, row.key)">{{(row.value) | intime}}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <mat-accordion>
    <div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
      <div *ngFor="let chart of table.chartReports" cdkDrag>
        <app-chart-report [originId]="originId" [destinationId]="destinationId" [chartData]="chart" [currentTable] = "table" (deletedChart)="handleDeletedChart($event)"></app-chart-report>
      </div>
    </div>
  </mat-accordion>
</mat-expansion-panel>
