<!-- <div class="col-12 mh-100 p-0""> -->
  <div class="row">
    <div class="col-8">
      <div class="button-group">
        <button mat-stroked-button color="primary" (click)="openDialog()" class="new-route-btn">New Route</button>
      </div>
      <div>
        <div>
          <mat-accordion>
            <div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
              <div class="example-box" *ngFor="let table of this.tables" cdkDrag>
                <app-table-report (devicesEmitter)="handleEmitterFromTableReport($event)" (deletedReport)="handleDeletedReport($event)"
                  [table]="table"></app-table-report>
              </div>
            </div>
          </mat-accordion>
        </div>
      </div>
    </div>
    <div class="col-4">
      <app-map [deviceInfoFromTableReport]="deviceInfoFromTableReport"></app-map>
    </div>
  <!-- </div> -->