<div class="login-wrap">
  <div class="login-html">
    <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab pointable">Sign In</label>
    <input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab pointable">Sign Up</label>
    <div class="login-form">
      <div class="sign-in-htm">
        <form [formGroup]="loginForm" (ngSubmit)="this.login()">
          <div class="group">
            <label for="user" class="label">Email</label>
            <input id="user1" type="text" class="input" formControlName="email">
            <div *ngIf="loginEmail.invalid && (loginEmail.dirty || loginEmail.touched)">
                <em *ngIf="loginEmail.errors.required">
                  Email is required.
                </em>
                <em *ngIf="loginEmail.errors.email">
                  Please enter a valid email.
                </em>
                <em *ngIf="!loginEmail.errors.email && loginEmail.errors.minlength || loginEmail.errors.maxlength">
                  This field must be between 5 and 30 symbols long.
                </em>
              </div>
          </div>
          <div class="group">
            <label for="pass" class="label">Password</label>
            <input id="pass1" type="password" class="input" data-type="password" formControlName="password">
            <div *ngIf="loginPass.invalid && (loginPass.dirty || loginPass.touched)">
                <em *ngIf="loginPass.errors.required">
                  Password is required.
                </em>
                <em *ngIf="loginPass.errors.minlength || loginPass.errors.maxlength">
                    This field must be between 5 and 30 symbols long.
                  </em>
              </div>
          </div>

          <div class="group">
            <input id="check" type="checkbox" class="check" checked>
            <label for="check"><span class="icon"></span> Keep me Signed in</label>
          </div>
          <div class="group">
            <input type="submit" class="button pointable" value="Sign In">
          </div>
        </form>
      </div>
      <div class="sign-up-htm">
        <form [formGroup]="registerForm" (ngSubmit)="this.register()">
          <div class="group">
            <label for="user" class="label">Email</label>
            <input id="user" type="email" class="input" formControlName="email" required>
            <div *ngIf="email.invalid && (email.dirty || email.touched)">
              <em *ngIf="email.errors.required">
                Email is required.
              </em>
              <em *ngIf="email.errors.email">
                Please enter a valid email.
              </em>
              <em *ngIf="!email.errors.email && email.errors.minlength || email.errors.maxlength">
                This field must be between 5 and 30 symbols long.
              </em>
            </div>
          </div>
          <div class="group">
            <label for="pass" class="label">Password</label>
            <input id="pass" type="password" class="input" data-type="password" formControlName="password" required>
            <div *ngIf="password.invalid && (password.dirty || password.touched)">
              <em *ngIf="password.errors.required">
                Password is required.
              </em>
              <em *ngIf="password.errors.minlength || password.errors.maxlength">
                  This field must be between 5 and 30 symbols long.
                </em>
            </div>
          </div>
          <div class="group">
            <label for="confirmPass" class="label">Repeat Password</label>
            <input id="pass2" type="password" class="input" data-type="password" formControlName="passwordRepeat" required>
            <div *ngIf="passwordRepeat.invalid && (passwordRepeat.dirty || passwordRepeat.touched)">
                <em *ngIf="passwordRepeat.errors.required">
                  Password is required.
                </em>
                <em *ngIf="passwordRepeat.errors.minlength || passwordRepeat.errors.maxlength">
                    This field must be between 5 and 30 symbols long.
                  </em>
              </div>
              <em *ngIf="passwordRepeat.errors?.MatchPassword">Passwords do not match.
              </em>
            <div class="group submit-button">
              <input type="submit" class="button pointable" value="Sign Up">
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>