<div class="device-modal">
    <h3 class="message">{{data.message}}</h3>
    <mat-dialog-content class="mat-typography">
        <form [formGroup]="deviceInfo">
            <mat-form-field>
                <input matInput placeholder="Device name" formControlName="name" required>
            </mat-form-field>
            <h4></h4>
            <mat-form-field>
                <input matInput placeholder="Device longitude" formControlName="longitude" required>
            </mat-form-field>
            <h4></h4>
            <mat-form-field>
                <input matInput placeholder="Device latitude" formControlName="latitude" required>
            </mat-form-field>
            <div id="deviceMap" >
                <app-device-map [deviceInfoFromParent]="deviceInfo.value" (sendCoordinates)="coordinatesSent($event)"
                    class="device-map"></app-device-map>
            </div>
        </form>
    </mat-dialog-content>
    <button mat-stroked-button color="primary" id="yes-button" [disabled]="deviceInfo.invalid" (click)="doneClicked()" [mat-dialog-close]="true">Add</button>
    <button mat-stroked-button color="warn" id="no-button" (click)="cancelClicked()" [mat-dialog-close]="false">Cancel</button>
</div>