<h2 mat-dialog-title>Create new table report</h2>
<mat-dialog-content class="mat-typography">
        <form [formGroup]="editTableForm">
                <mat-form-field >
                  <input matInput placeholder="Name" formControlName="name" required>
                  <mat-error *ngIf="reportName.hasError('required')">
                    Name is <strong>required</strong>
                  </mat-error>
                </mat-form-field>
                <h4></h4>
                <mat-form-field>
                  <mat-select placeholder="Period" formControlName="period" required>
                    <mat-option>--</mat-option>
                    <mat-option *ngFor="let period of periods" [value]="period">
                      {{period.name}}
                    </mat-option>
                  </mat-select>
                  <mat-error *ngIf="reportPeriod.hasError('required')">Please choose a period</mat-error>
                </mat-form-field>
                <h4></h4>
                <mat-form-field>
                    <input matInput type="number" placeholder="Offset back" formControlName="offset" min="0">
                  </mat-form-field>
              </form>
</mat-dialog-content>
<div class="example-container">
    <p>All Devices</p>
    <div
      cdkDropList
      #devicesList="cdkDropList"
      [cdkDropListData]="devices"
      [cdkDropListConnectedTo]="[selectedDevicesList]"
      class="example-list"
      (cdkDropListDropped)="drop($event)">
      <div class="example-box" *ngFor="let device of devices" cdkDrag>{{device.name}}</div>
    </div>
  </div>
  
  <div class="example-container">
    <p>Selected Devices</p>
    <div
      cdkDropList
      #selectedDevicesList="cdkDropList"
      [cdkDropListData]="selectedDevices"
      [cdkDropListConnectedTo]="[devicesList]"
      class="example-list"
      (cdkDropListDropped)="drop($event)">
      <div class="example-box" *ngFor="let item of selectedDevices" cdkDrag>{{item.name}}</div>
    </div>
  </div>

<mat-dialog-actions align="end">
  <button mat-stroked-button color="warn" [mat-dialog-close]="true">Cancel</button>
  <button mat-stroked-button color="primary" (click)="this.editTable()" [mat-dialog-close]="true">Save</button>
</mat-dialog-actions>