<p></p>
<mat-expansion-panel #myPanel>
  <mat-expansion-panel-header>
    <mat-panel-title>
        <button mat-button disabled style="color: #048300">{{chartData.name}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; from:&nbsp;{{originId}}&nbsp;&nbsp;&nbsp; to:&nbsp;{{destinationId}}</button>
    </mat-panel-title>
    <mat-panel-description fxLayout="row" fxLayoutAlign="end" fxLayoutGap="10px">
      <div fxFlex="60"></div>

      <div class="actions" fxLayout>
        <!-- <button mat-icon-button color="primary" (click)="editChart($event)" [disableRipple]="true">
          <mat-icon svgIcon="edit">Edit</mat-icon>
        </button> -->
        <button mat-icon-button color="primary" (click)="deleteChart($event)" [disableRipple]="true">
          <mat-icon svgIcon="garbage">Delete</mat-icon>
        </button>
      </div>
    </mat-panel-description>
  </mat-expansion-panel-header>

  <div id={{chartData.name}} style="width: 100%; height: 300px"></div>
</mat-expansion-panel>
