.mat-expansion-panel-header-description {
  display: flex;
  justify-content: flex-end;
}

.actions {
  display: flex;
  justify-content: flex-end;
  margin-right: 0px;
  margin-top: 0px;
}
