@import '~@angular/material/theming';
@include mat-core();

$my-theme-primary: mat-palette($mat-green, 800);
$my-theme-accent : mat-palette($mat-grey);
$my-theme-warn   : mat-palette($mat-red);
$my-theme: mat-light-theme(
    $my-theme-primary,
    $my-theme-accent,
    $my-theme-warn
);