
app-root {
    font-size: 12px;
    height: 100vh;
    overflow: hidden;
    position: absolute;
    text-align: center;
    width: 100%;
}

  .myspiner /deep/ .black-overlay{
    position: fixed;
  }