<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-12">
            <kendo-grid [data]="view" [height]="533" [pageSize]="gridState.take" [skip]="gridState.skip" [sort]="gridState.sort"
                [pageable]="true" [sortable]="true" (dataStateChange)="onStateChange($event)" (edit)="editHandler($event)"
                (cancel)="cancelHandler($event)" (save)="saveHandler($event)" (remove)="removeHandler($event)" (add)="addHandler($event)"
                [navigable]="true">
                <ng-template kendoGridToolbarTemplate>
                    <button kendoGridAddCommand>Add new</button>
                </ng-template>
                <kendo-grid-column field="name" title="Device Name"></kendo-grid-column>
                <kendo-grid-column field="longitude" title="Longitude"></kendo-grid-column>
                <kendo-grid-column field="latitude" title="Latitude"></kendo-grid-column>
                <kendo-grid-command-column title="command" width="220">
                    <ng-template kendoGridCellTemplate let-isNew="isNew">
                        <button kendoGridEditCommand>Edit</button>
                        <button kendoGridRemoveCommand>Remove</button>
                        <button kendoGridSaveCommand [disabled]="formGroup?.invalid">{{ isNew ? 'Add' : 'Update' }}</button>
                        <button kendoGridCancelCommand>{{ isNew ? 'Discard changes' : 'Cancel' }}</button>
                    </ng-template>
                </kendo-grid-command-column>
            </kendo-grid>
            <router-outlet></router-outlet>
        </div>
    </div>
</div>